[TEMPLATE]
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODIwMzA1NzYsImlkIjoiMDE5ZWU5NGItYzUwMS03YTQzLTg0Y2YtOGM1NmU3NTFlZjExIiwicmlkIjoiMjFjMzczMTUtNWE2MS00ZmUyLThmN2YtMGQ3MTViZmQyMWJjIn0.0B3J90k4xWM7dJgwZ8h4r_o2lEIw3SJASRzK6Kyk2fSTsqjZpfYxpIFlVrjXFdZG-O2TN5gbCD8PJ4Ae3eTrAg
TURSO_DB_URL=libsql://scannertest-scannertest.aws-ap-south-1.turso.io
HOME_SERVER_TOKEN=your-token-here
HOME_SERVER_URL=https://scanner.1110777.xyz
